/* Estilo para o título */
h1 {
    color: #333;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Estilo para o formulário */
form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
}

/* Estilo para os rótulos dos campos de entrada */
label {
    display: block;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

/* Estilo para os campos de entrada */
input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
}

/* Estilo para o botão de envio */
input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

/* Estilo para a mensagem de resultado */
.result {
    text-align: center;
    margin-top: 36px;
    font-weight: bold;
    font-size: 24px;
}

.error {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}